<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  

  <div ng-app="zendeskTicketsViewer" ng-controller="ticketCtrl">
      <h3>Welcome to Ticket Viewer</h3>
      
      <p>Click <a href="#" ng-click="fetchTickets('?page=1')">here</a> to view all the tickets.</p>
    
      <p>{{errorMsg}}</p>

      <p ng-if="count">{{count}} tickets in total</p>
      <a href="#" ng-if="previous != ''" ng-click="previousPage();">Previous</a>
      <a href="#" ng-if="next != ''" ng-click="nextPage();">Next</a>
      <table ng-if="tickets.length > 0">
          <thead>
          <tr>
              <th>ID</th><th>Type</th><th>subject</th><th>Description</th><th>Priority</th><th>status</th><th>Tags</th><th>Create Date</th><th>Update Date</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="ticket in tickets">
              <td>{{ticket.id}}</td>
              <td>{{ticket.ticketType}}</td>
              <td>{{ticket.subject}}</td>
              <td>{{ticket.description}}</td>
              <td>{{ticket.priority}}</td>
              <td>{{ticket.status}}</td>
              <td><span ng-repeat="tag in ticket.tags">{{tag}}, </span></td>
              <td>{{ticket.created_at | date:'medium'}}</td>
              <td>{{ticket.updated_at | date:'medium'}}</td>
          </tr>
          </tbody>
      </table>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
</body>
</html>
